Repository prefeitura-rio/queries-rj-smtr, pull requests merged in 2024-05, with the labels that each got.

#299 Adiciona planejamento de Maio/Q1/2024 + Corrige tratamento `subsidio_data_versao_efetiva.sql`
  models/projeto_subsidio_sppo/CHANGELOG.md
  models/projeto_subsidio_sppo/subsidio_data_versao_efetiva.sql
Labels: rj-smtr/subsidio_sppo

#300 Remove planejamento específico do evento "Madonna" no modelo `subsidio_data_versao_efetiva.sql`
  models/projeto_subsidio_sppo/CHANGELOG.md
  models/projeto_subsidio_sppo/subsidio_data_versao_efetiva.sql
Labels: rj-smtr/subsidio_sppo

#302 Corrige filtro da CTE `viagens_planejadas` no modelo `viagens_remuneradas.sql`
  models/dashboard_subsidio_sppo/CHANGELOG.md
  models/dashboard_subsidio_sppo/viagens_remuneradas.sql
Labels: rj-smtr/subsidio_sppo

#316 [HOTFIX] Bilhetagem - Corrige alias duplicado na transacao
  models/br_rj_riodejaneiro_bilhetagem/CHANGELOG.md
  models/br_rj_riodejaneiro_bilhetagem/transacao.sql
  models/dashboard_bilhetagem_implantacao_jae/CHANGELOG.md
  models/dashboard_bilhetagem_implantacao_jae/gps_agregado_brt.sql
  models/dashboard_bilhetagem_implantacao_jae/gps_agregado_vlt.sql
  models/validacao_dados_jae/staging/ordem_pagamento_servico_operador_dia_validacao.sql
Labels: bug

#317 [HOTFIX] Bilhetagem - Corrige serviço nas tabelas agregadas de GPS
  models/br_rj_riodejaneiro_bilhetagem/CHANGELOG.md
  models/br_rj_riodejaneiro_bilhetagem/ordem_pagamento_servico_operador_dia.sql
  models/br_rj_riodejaneiro_bilhetagem/transacao.sql
  models/dashboard_bilhetagem_implantacao_jae/gps_agregado_brt.sql
  models/dashboard_bilhetagem_implantacao_jae/gps_agregado_vlt.sql
Labels: bug

#305 feature Subsídio - Apuração `Madonna · The Celebration Tour in Rio`
  dbt_project.yml
  models/dashboard_subsidio_sppo/CHANGELOG.md
  models/dashboard_subsidio_sppo/sumario_servico_dia.sql
  models/dashboard_subsidio_sppo/sumario_servico_dia_historico.sql
  models/dashboard_subsidio_sppo/sumario_servico_dia_tipo.sql
  models/dashboard_subsidio_sppo/viagens_remuneradas.sql
  models/gtfs/CHANGELOG.md
  models/gtfs/ordem_servico_sentido_atualizado_aux_gtfs.sql
  models/gtfs/ordem_servico_trajeto_alternativo_gtfs.sql
  models/gtfs/ordem_servico_trips_shapes_gtfs.sql
  models/projeto_subsidio_sppo/CHANGELOG.md
  models/projeto_subsidio_sppo/aux_registros_status_trajeto.sql
  models/projeto_subsidio_sppo/aux_viagem_inicio_fim.sql
  models/projeto_subsidio_sppo/deprecated/subsidio_quadro_horario.sql
  models/projeto_subsidio_sppo/subsidio_data_versao_efetiva.sql
  models/projeto_subsidio_sppo/viagem_completa.sql
  models/projeto_subsidio_sppo/viagem_planejada.sql
Labels: rj-smtr/subsidio_sppo

#324 Altera tratamento dos modelos `viagem_planejada.sql` e `viagem_completa.sql`
  models/projeto_subsidio_sppo/CHANGELOG.md
  models/projeto_subsidio_sppo/schema.yml
  models/projeto_subsidio_sppo/viagem_completa.sql
Labels: rj-smtr/subsidio_sppo

#325 [hotfix] Corrige variável `data_versao_gtfs`
  dbt_project.yml
Labels: rj-smtr/gtfs
