Repository prefeitura-rio/queries-rj-smtr, pull requests merged in 2024-02, with the labels that each got.

#207 [HOTFIX] Erro incremental Gratuidade_AUX
  models/br_rj_riodejaneiro_bilhetagem_staging/gratuidade_aux.sql
Labels: bug

#209 [HOTFIX] Corrige busca por nula no modelo passageiros_hora
  models/br_rj_riodejaneiro_bilhetagem/passageiros_hora.sql
Labels: bug

#211 Refatora `subsidio_data_versao_efetiva`
  models/projeto_subsidio_sppo/subsidio_data_versao_efetiva.sql
Labels: rj-smtr/subsidio_sppo, refactor

#218 Adiciona datas de fev/2024
  models/projeto_subsidio_sppo/subsidio_data_versao_efetiva.sql
Labels: rj-smtr/subsidio_sppo
